@media screen and (max-width: 760px){

    header{
        flex-direction:column;
        justify-content: space-between;
        margin: 0 auto;
        }
    
    #title h1 {
        font-size:30px;
    }
    
    #title span {
        font-size:30px;
    }
    
    ul {
        text-align:center;
        padding: 0;  
    }

    ul li {
        margin: 8px;
    }
    
    main {
        flex-direction: column;
        }
    
    article img {
        width: 90%;
    }
    
    aside{
        text-align: center;
        width: 90%;
    
    }
    
    h2{
        font-size: 30px;
    }
    
    p {
        font-size: 15px;
        margin: 8px 20px 8px 20px;
    }
    
    .blocks{
        flex-direction: column;
    }
    
    form h2 {
        font-size: 25px;
        margin-bottom:5px;
    }
    
    form{
        margin: 0 auto;
    }
    
    center {
        width:100%;
    }
    
    fieldset {
        width: 80%;
        align-self: center;
    }
    
    textarea{
        width: 95%;
        align-self:center;
    }
    
    .content-area h2{
        font-size: 30px;
    }
    
    .content-area p{
        max-width:auto;
        font-size:18px;
        margin-left: 20px;
        margin-right:20px;
        padding:20px;
    }
    
    .blocks-area{
        flex-direction: column;
        margin-bottom:10px;
    }
    
    .block-area{
        margin-bottom:20px;
    }
    
    .block-area h3{
        text-align: center;
    }
    
    }